*{
    margin: 0;
    padding: 0;
}
html{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.search{
    display: flex;
    justify-content: center;
    width: 100vw;
    background: rgb(255, 197, 91);
}
.Search-box{
    width: 300px;
    border: none;
    padding-left: 20px;
    outline: none;
    border-radius: 10px;
    height: 30px;
    margin: 10px 20px;
}
.button{
    width: 100px;
    border-radius: 10px;
    outline: none;
    height: 30px;
    background-color: rgba(66, 66, 66, 0.762);
    border: none;
    color: white;
    margin: 10px 0;
    cursor: pointer;
}
#content{
    margin: 10px 0;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
#content .box{
    padding: 10px 20px;
    margin: 10px 0;
    background: rgb(255, 211, 130);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#content .box .poster{
    width: 70%;
    height: 100%;
}
#content .box img{
    width: 100%;
    height: 100%;
}
#content .box .title{
   font-size: 1.2rem;
   margin-bottom: 10px;
}
#content .box .type{
    font-size: 1rem;
    margin-bottom: 20px;
}
#content .box .moreinfo{
    font-size: 1rem;
    margin-top: 20px;
    width: 120px;
    height: 35px;
    background-color: rgba(66, 66, 66, 0.762);
    border-radius: 10px;
    text-align: center;
}
#content .box .moreinfo a{
    color: white;
    line-height: 35px;
    text-decoration: none;
}